node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.netlify

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
*.lock